* {
    box-sizing: border-box;
    /* word-wrap: break-word; */
    word-break: break-word;
}

.min-50vw {
    min-height: 50vw;
}

.error_text {
    background: linear-gradient(136deg, #B1FFFF 0%, #4EC3FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.9;
}

.error_msg {
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: 128.182%;
}

.error_content {
    line-height: 1.5;
    width: 452px;
    text-align: center;
    font-size: 21px;
}

.go_home_btn {
    padding: 25px 39px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #1B2534;
    font-size: 1rem;
    margin-top: 2vw;
    cursor: pointer;
}

/* .recruitment {
    background: linear-gradient(136deg, #85D5FF 0%, #B8FFF1 100%);
    min-height: 80vw;
} */

.recruitment {
    background-image: url(/src/assets/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 80vw;
    padding-top: 6em;
}

.recruitment-body {
    padding: 4vw 7vw;
}

.recruitment-title {
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 8vw;
}

.recruitment-content {
    background-color: white;
    padding: 1.8rem 3.5rem;
    border-radius: 1rem;
    margin-bottom: 4vw;
    min-height: 24vw;
}

.recruitment-contact {
    background-color: white;
    padding: 3.5vw;
    border-radius: 1.5rem;
    margin-bottom: 4vw;
}

.recruitment-description {
    margin-top: 2vw;
    font-size: 30px;
}

.description_rec {
    color: #606060;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1.5px;
}

.input_label {
    color: #606060;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
}

.input_field {
    width: 100%;
    border: 1px solid #D3D3D3;
    margin-top: 1.25rem;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 1.25rem;
}

.textarea_field {
    width: 100%;
    border: 1px solid #D3D3D3;
    margin-top: 2vw;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 2.5vw;
}

.agree_checkbox {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 5px;
    background: #D9D9D9;
    margin-top: 5px;
}

.agreement {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-left: 10px;
}

.agreement_term {
    color: #1C6DC1;
    cursor: pointer;
}

.agreement_term:hover {
    text-decoration-line: underline;
}

.logo_text {
    color: #1C6DC1;
}

.upload-field {
    height: 20rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    cursor: pointer;
}

.file_text {
    text-align: center;
    margin-top: 2vw;
}

.upload_description {
    text-align: center;
    color: rgba(0, 0, 0, 0.30);
    font-size: 1vw;
    margin-bottom: 1vw;
}

.pay_description {
    color: #000;
    font-size: 64px;
    margin-bottom: 2vw;
    text-align: center;
    font-weight: 600;
}

.support_center {
    background-color: #75D0FF;
    min-height: 35vw;
    padding-top: 5em;
}

.footer_hr {
    border-color: #283343;
}

.support_title {
    font-size: 2.25vw;
}

.rectangle_1 {
    width: 353.853px;
    height: 621.809px;
    transform: rotate(-71.541deg);
    fill: linear-gradient(180deg, rgba(58, 58, 244, 0.07) 0%, rgba(58, 58, 244, 0.00) 100%);
}

.search_input {
    padding: 0px 10px 0px 35px;
    width: 100%;
    font-size: 13px;
}

.search_input:focus {
    outline: none;
}

.search_btn {
    background-color: #3A3AF4;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

.search_icon {
    top: 10px;
    left: 10px;
}

.support_items {
    background-color: #eef;
    width: 100%;
    min-height: 50vw;
}

.support_items>svg {
    position: absolute;
    top: 2vw;
    left: 2vw;
}

.support_item {
    padding: 2vw;
    background-color: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(58, 58, 244, 0.10);
    z-index: 5;
    height: fit-content;
}

.support_item_svg {
    border-radius: 50%;
    padding: 10px;
}

.bg_1 {
    background-color: #E0FFB8;
}

.bg_2 {
    background-color: #B8FFFB;
}

.bg_3 {
    background-color: #FFB8CD;
}

.bg_4 {
    background-color: #FFDAB8;
}

.bg_5 {
    background-color: #B9FFB8;
}

.bg_6 {
    background-color: #DBB8FF;
}

.support_item_title {
    color: #060619;
    font-size: 1.1vw;
    font-weight: 700;
    margin-left: 10px;
}

.support_item_description {
    font-size: 1vw;
    margin-left: 10px
}

.main_heading {
    padding: 8vw 6.5vw;
    background-color: #F9F9F9;
    border-radius: 25px;
    height: fit-content;
}

.homepage {
    padding-top: 5em;
}

.main_section {
    padding: 0 7vw 7vw 7vw;
}

.main_heading_title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.2;
}

@media (max-width: 640px) {
    .main_heading_title {
        font-size: 3rem;
    }

    .main_heading_img {
        height: 760px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .phone_image {
        position: relative !important;
        height: 660px;
        width: auto !important;
        left: 0 !important;
        bottom: 0 !important;
    }

    .download_photo {
        height: unset !important;
    }

    .recruitment-title {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 8vw;
        margin-top: 150px;
    }

    .recruitment-content {
        background-color: white;
        padding: 69.26px 12.42px 27.74px 33.58px;
        border-radius: 1rem;
        margin-bottom: 3rem;
        min-height: 24vw;
    }

    .error_msg {
        font-size: 40px !important;
    }

    .download_section {
        border-radius: 0px !important;
    }

    .main_heading_img {
        background-size: cover !important;
        background-position: center !important;
        border-radius: 32px;
    }

    .recruitment-body {
        padding: 4vw 14px !important;
    }

    .product_section {
        min-height: 312px;
        padding: 25px 51px;
        line-height: 2;
    }

    .download_title {
        font-size: 40px !important;
    }
}

.main_heading_img {
    background-image: url(/src/assets/Frame-26.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vw;
}

.phone_image {
    width: 20vw;
    position: absolute;
    bottom: -6vw;
    left: 9vw;
}

.feature_title {
    color: #1B2534;
    font-size: 2vw;
    line-height: 1.25;
}

.work_title_color {
    color: #1B2534
}

.work_color {
    color: #0083E1;
}

.work_item_content {
    padding-top: 1.5rem;
}

.work_item_svg {
    width: fit-content;
    padding: 1vw;
    border-radius: 10px;
}

.bg-1 {
    background: #FFC226;
}

.bg-2 {
    background: #c3f6bf;
}

.bg-3 {
    background: #C3F6BF;
}

.bg-4 {
    background: #FEDBFF;
}

.work_item_title {
    font-size: 35px;
    margin-top: 0.5rem;
    font-weight: 700;
}

.work_item_description {
    font-size: 22px;
    color: #606060;
}

.customer {
    background-color: #F6F6F6;
    padding: 2vw 3vw;
    border-radius: 20px;
}

.customer_title {
    font-size: 8vw;
    color: #1B2534;
    font-weight: 700;
    margin-bottom: -6.3vw;
}

.customer_content {
    columns: #606060;
    font-size: 20px;
}

.user_photo {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
}

.text_user2 {
    color: #0ab262;
}

.download_section {
    background: linear-gradient(136deg, #82FFF6 0%, #D2B7FF 32.29%, #FFE0AF 69.07%, #FFB9D1 100%);
    margin-top: 10vw;
    min-height: 25vw;
    border-radius: 15px;
}

.download_title {
    font-size: 65px;
    font-weight: bold;
}

.download_photo {
    height: 35vw;
}

.nav_border {
    border: 1px solid black;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.nav_item_border {
    border-bottom: 1px solid black;
}

.error_section {
    margin-top: 200px;
    margin-bottom: 200px;
}